<% if @user.errors.any? %>
<div class="row">
  <div class="bg-danger col-sm-3 col-sm-offset-2 text-center">
    <ul class="list-unstyled">
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %> </li>
      <% end %>
<% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="form-group col-sm-5">
      <h1>Sign-up:</h1>
        <%= simple_form_for @user, defaults: { input_html: { class: 'form-control col-sm-5' } } do |f| %>
        <%= f.input :username %>
        <%= f.input :email, label: "E-Mail" %>
        <%= f.input :password %>
        <%= f.submit class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
