<!DOCTYPE html>
<html>
  <head>
    <title>Galler&iacute;o</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header Goes Here -->
    <header class="header container">
      <div class="row">
        <div class="col-sm-8" >
          <h1 class="branding"><a href="/">Galle<span class="rio">r&iacute;o</span></a></h1>
        </div>
        <div class="col-sm-4 flex">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active">
              <% unless current_user %>
                <%= link_to "Sign Up", new_user_path, method: "get" %></li>
                <li role="presentation" class="btn-info active">
                <%= link_to "Login", login_path, method: "get" %></li>
              <% end %>

              <% if current_user %>
                <li role="presentation" class="btn-info active">
                  <%= link_to "New Gallery", new_gallery_path %></li>
                <li role="presentation" class="btn-info active">
                  <%= link_to "Logout", logout_path, method: "delete" %></li>
              <% end %>
          </ul>
        </div>
      </div>
      <h5>In the <span class="rio">river</span> of life, let your photos flow...</h5>
    </header>

  <div class="container">
    <%= yield %>
  </div>

    <!-- Footer Goes Here -->
    <footer class="container">
      <div class="row flex">
        <div class="col-sm-12 text-center">
          This is where the bottom footer will go...
        </div>
      </div>
      </div>
    </footer>

  </body>
</html>
